@import "../../styles/variables.module.scss";

.form {
	margin-bottom: 1.5rem;
}

.select {
	width: 15rem;
	border: 2px solid $color-two;
	outline: none;
	border-radius: 5px;
	padding: 0.3rem 0.75rem;
	color: $color-five;
	cursor: pointer;
	font-size: 1.55rem;
	margin-bottom: 1.5rem;
	font-family: inherit;
}

.date {
	border: 2px solid $color-two;
	display: block;
	width: 100%;
	margin-bottom: 0rem;
}

.error {
	margin-bottom: 1.5rem;
}

.gap {
	margin-top: 2.5rem;
}
