@import "../../styles/variables.module.scss";

.button {
	background-color: $color-three;
	outline: none;
	color: $color-five;
	padding: 0.35rem 0.75rem;
	font-size: 1.7rem;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid $color-three;
	font-family: inherit;

	&:hover {
		background-color: darken($color-three, 5%);
	}

	&:active {
		background-color: darken($color-three, 12%);
	}

	.outlined {
		background-color: transparent;
		color: $color-three;

		&:hover {
			background-color: $color-three;
			color: $color-five;
		}
	}
}

.red {
	background-color: $color-five;
	border: 1px solid $color-five;
	color: $color-three;

	&.outlined {
		background-color: transparent;
		color: $color-five;
		border: 1px solid $color-five;

		&:hover {
			color: $color-three;
		}
	}

	&:hover {
		background-color: darken($color-five, 5%);
	}

	&:active {
		background-color: darken($color-five, 12%);
	}
}

.blue {
	background-color: $color-two;
	border: 1px solid $color-two;
	color: $color-five;

	&:hover {
		background-color: darken($color-two, 5%);
	}

	&:active {
		background-color: darken($color-two, 12%);
	}
}

.full {
	width: 100%;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
