@import "../../styles/variables.module.scss";

.navbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	& > * {
		margin-left: 3.5rem;
	}
}

.link {
	color: $color-five;
	font-size: 1.8rem;
	cursor: pointer;
	padding: 0.5rem 0.75rem;
	display: block;
	font-weight: 500;
	position: relative;

	&::first-letter {
		text-transform: uppercase;
	}
}

.active {
	&::after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		background-color: $color-five;
		width: 75%;
		height: 2px;
	}
}
