@import "../../styles/variables.module.scss";

.navbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	& > * {
		margin-left: 3.5rem;
	}
}

.link {
	color: $color-vivid-sky;
	font-size: 1.8rem;
	cursor: pointer;
	padding: 0.5rem 0.75rem;
	display: block;

	&:hover {
		color: $color-green-yellow;
	}

	&:active {
		color: $color-cultured;
	}

	&::first-letter {
		text-transform: uppercase;
	}
}
