@import "../../styles/variables.module.scss";

.customInput {
	width: 100%;
	margin-bottom: 1.5rem;
}

.label {
	display: block;
	font-size: 1.75rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	font-weight: 500;

	&::first-letter {
		text-transform: uppercase;
	}
}

.input {
	border: 2px solid $color-two;
	outline: none;
	height: 3.3rem;
	border-radius: 5px;
	padding: 0 0.5rem;
	font-size: 1.55rem;
	font-family: inherit;
	width: 100%;

	&:focus {
		border: 2px solid $color-one;
	}
}

.error {
	font-size: 1.5rem;
	color: $color-one;
	display: block;
	margin-left: 0.5rem;
}

.errorInput {
	border: 2px solid $color-six;
}

.smaller {
	.label {
		font-size: 1.55rem;
	}
}