.pageHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3rem;

	@media screen and (max-width: 500px) {
		margin-bottom: 2rem;
	}
}

.title {
	margin-right: 1.5rem;
}
