@import "../../styles/variables.module.scss";

.dropdownMenu {
	background-color: $color-three;
	border-radius: 5px;
	display: none;
	box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.5);
	width: fit-content;

	& > *:first-child {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	& > *:last-child {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}

.show {
	display: block;
}
