@import "../../styles/variables.module.scss";

.poll {
	padding: 1rem;
	background-color: lighten($color-two, 7%);
	border-radius: 5px;
	box-shadow: 0 0 0.55rem 0 rgba(0, 0, 0, 0.5);
	cursor: pointer;
	height: fit-content;
}

.title {
	color: $color-five;
	margin-bottom: 1rem;
	text-align: center;
}

.title,
.subTitle {
	font-weight: 500;

	&::first-letter {
		text-transform: uppercase;
	}
}

.itemsList {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.75rem;
}

.subTitle {
	margin-bottom: 0.7rem;
	color: $color-five;
}

.option,
.tag {
	background-color: $color-three;
	font-size: 1.55rem;
	padding: 0.35rem 0.75rem;
	border-radius: 5px;
	color: $color-five;
	margin-right: 0.5rem;
	margin-bottom: 0.75rem;
}

.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.5rem;
	flex-wrap: wrap;

	& > *:first-child {
		margin-right: 0.75rem;
	}

	& > * {
		flex: 1;
	}
}

.private {
	background-color: $color-seven;

	.title,
	.subTitle {
		color: $color-three;
	}

	.option,
	.tag {
		background-color: $color-four;
	}
}

.gap {
	margin-bottom: 2.5rem;
}

.smallSubtitle {
	font-weight: 500;
}
