@import "../../styles/variables.module.scss";

.createPoll {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&:hover {
		.text {
			color: $color-one;
		}

		.icon {
			path {
				fill: $color-one;
			}
		}
	}

	&:active {
		.text {
			color: $color-two;
		}

		.icon {
			path {
				fill: $color-two;
			}
		}
	}
}

.text {
	color: $color-two;
	font-weight: 500;
	margin-right: 0.75rem;
}

.icon {
	path {
		fill: $color-two;
	}
}
