@import "../../styles/variables.module.scss";

.notification {
	display: none;
	background-color: $color-one;
	color: $color-three;
	width: fit-content;
	padding: 0.3rem 0.5rem;
	border-radius: 5px;
	font-weight: 500;
	position: fixed;
	left: 50%;
	top: 0.75rem;
	transform: translateX(-50%);
	z-index: 1;
	box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
	white-space: nowrap;

	&::first-letter {
		text-transform: uppercase;
	}
}

.show {
	display: block;
}

.failure {
	background-color: $color-seven;
	color: $color-three;
}
