@import "../styles/variables.module.scss";

.title,
.subTitle {
	color: $color-five;
	font-weight: 500;

	&::first-letter {
		text-transform: uppercase;
	}
}

.titleCenter {
	text-align: center;
}

.form {
	width: 30rem;
	margin: auto;
}

.formLink {
	color: $color-two;
}

.page {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

.message {
	color: $color-five;
	text-align: center;

	&::first-letter {
		text-transform: uppercase;
	}
}
