@import "./variables.module.scss";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: $font-stack-primary;
	font-size: 1.75rem;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}
