@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");

// $color-raisin-black: #212738;
// $color-bitter-sweet: #f97068;
// $color-green-yellow: #d1d646;
// $color-cultured: #edf2ef;
// $color-vivid-sky: rgb(87, 196, 229);

// $color-flax: #e9d985;
// $color-misty-moss: #b2bd7e;
// $color-russian-green: #749c75;
// $color-old-lavender: #6a5d7b;
// $color-english-violet: #5d4a66;

$color-one: #4c6085;
$color-two: #39a0ed;
$color-three: #36f1cd;
$color-four: #13c4a3;
$color-five: #32322c;

$font-stack-primary: "Montserrat", sans-serif;
