@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");

// $color-raisin-black: #212738;
// $color-bitter-sweet: #f97068;
// $color-green-yellow: #d1d646;
// $color-cultured: #edf2ef;
// $color-vivid-sky: rgb(87, 196, 229);

// $color-flax: #e9d985;
// $color-misty-moss: #b2bd7e;
// $color-russian-green: #749c75;
// $color-old-lavender: #6a5d7b;
// $color-english-violet: #5d4a66;

$color-one: rgb(76, 96, 133);
$color-two: rgb(57, 160, 237);
$color-three: rgb(55, 241, 204);
$color-four: rgb(19, 196, 163);
$color-five: rgb(50, 50, 44);
$color-six: #ea4335;
$color-seven: lighten($color-five, 15%);

$font-stack-primary: "Montserrat", sans-serif;
