@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");

$color-raisin-black: #212738;
$color-bitter-sweet: #f97068;
$color-green-yellow: #d1d646;
$color-cultured: #edf2ef;
$color-vivid-sky: #57c4e5;

$font-stack-primary: "Montserrat", sans-serif;
