@import "../../styles/variables.module.scss";

.icon {
	width: 2rem;
	height: 2rem;
	cursor: pointer;

	path {
		fill: $color-five;
	}
}

.smaller {
	width: 1.7rem;
	height: 1.7rem;
}

.bigger {
	width: 2.35rem;
	height: 2.35rem;
}
