@import "../../styles/variables.module.scss";

.icon {
	width: 2rem;
	height: 2rem;
	cursor: pointer;

	path {
		fill: $color-five;
	}

	&:hover {
		path {
			fill: $color-one;
		}
	}

	&:active {
		path {
			fill: $color-five;
		}
	}
}
