.chartContainer {
	flex: 1;
	margin-right: 3rem;

	@media screen and (max-width: 850px) {
		margin-bottom: 3rem;
		margin-right: 0rem;
		width: 100%;
	}
}

.chart {
	width: 100% !important;
	height: 42rem !important;

	@media screen and (max-width: 950px) {
		height: 40rem !important;
	}

	@media screen and (max-width: 850px) {
		height: 38rem !important;
	}

	@media screen and (max-width: 750px) {
		height: 35rem !important;
	}

	@media screen and (max-width: 650px) {
		height: 32rem !important;
	}

	@media screen and (max-width: 450px) {
		height: 30rem !important;
	}
}

.pie {
	width: 100% !important;
}
